body {
  cursor: wait;
}

h1,
img {
  padding-left: 0.2em;
  font-weight: normal;
  position: relative;
  z-index: 1;
  font-size: 1.6em;
  color: rgb(255, 255, 255);
}

h1 {
  line-height: 1.5;
}

#core-tech {
  margin: 0 0.2em;
}

.head {
  font-size: 2rem;
}

/* suggested css */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}
